body {background-color:#FFFAF0;}
img {border-radius: 8px;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {color: green;}

.row {display: flex;}
.column { flex: 33.33%;padding: 5px;}

